<nav>
    <a href="/">Home</a>
    <a href="/16-9">CSS Trickery</a>
    <a href="/4-11">Accessibilty Guidelines</a>
    <a href="/20-1">A design and dev case study of tech-imposters.com</a>
    <a href="/17-2">Campspace, Json APIs en data</a>
    <a href="/31-3">Accessibility in creative development</a>
    
    
</nav>