<%- include('./partials/head') %> <%- include('./partials/nav') %>

<section>
  <h1>CSS Trickery</h1>
  <p></p>
  
  <article>
    <h2>Sanne 't Hooft</h2>
    <p>Sanne </p>
  </article>

</section>

<%- include('./partials/footer') %>
