<%- include('./partials/head') %> <%- include('./partials/nav') %>

<section>
  <h1>CSS Trickery</h1>
  <p class="main-p">
    Sanne liet aan ons zien hoeveel coole dingen je kan doen met css alleen. 
    Hij heeft een kubus gemaakt die rond draaide met zijn hoofd. 
    Hij heeft ons gradients laten zien en hoe we daar mee kunnen werken.

  </p>
  
  <article>
    <h2>Sanne 't Hooft</h2>
    <p>Sanne werkt bij de HvA.</p>
  </article>

</section>

<%- include('./partials/footer') %>
