<%- include('./partials/head') %> 
<%- include('./partials/nav') %>

<section>
  <h1>We Love Web</h1>

    <p>Deze blog gaat over de We Love Webs die ik op school gevolgd heb.</p>
</section>

<%- include('./partials/footer') %>
